/*-------------------------------------------------------------------------*/
/* header */
.header{ /* background header */
    position:relative;
    background-color: rgb(31,47,72);
    width:  100%;
    height: 140px;
}
.sub_header{
    position :absolute; /* real header */
    background-color: rgb(31,47,72);
    width:  1200px;
    height: 140px;
    left:50%;
    transform :translate(-50%);
    z-index: 1;
}
a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}
a:hover{
    text-decoration: none;
    color: white;
}
/* header menu */
/* LOGO */
.logo{
    width: 300px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size : 40px;
    float:left;
    color: white;
}
/* not having dropdown menu */
.header_menu{
    padding-top: 60px;
    padding-left: 30px;
    font-size: 20px;
    float:left;
    color: rgb(180, 180, 180);
    cursor : pointer;
}
.header_menu:hover{
    color:white;
}
/* Type menu dropdown */
.header_type_menu{ /* real menu */
    padding-top: 60px;
    padding-left: 30px;
    font-size: 20px;
    float:left;
    color: rgb(180, 180, 180);
    cursor : pointer;
}
.type_menu{ /* list background */
    display : none;
    position: absolute;
    font-size: 15px;
    background-color: rgb(31,47,72);
    box-shadow: 1px 1px 3px 1px black;
}
.type_menu_list{ /* lists */
    text-align: center;
    display : block;
    color:rgb(180, 180, 180);
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    cursor : pointer;
}
.header_type_menu:hover{ /* on hover */
    color:white;
}
.header_type_menu:hover .type_menu{ /* on hover */
    display: block;
    color:white;
}
.type_menu_list:hover{ /* on hover */
    color:white;
}
/* community menu dropdown */
.header_community_menu{ /* real menu */
    padding-top: 60px;
    padding-left: 30px;
    font-size: 20px;
    float:left;
    color: rgb(180, 180, 180);
    cursor : pointer;
}
.community_menu{ /* list background */
    display : none;
    position: absolute;
    font-size: 15px;
    background-color: rgb(31,47,72);
    box-shadow: 1px 1px 3px 1px black;
} 
.community_menu_list{ /* lists */
    text-align: center;
    display : block;
    color:rgb(180, 180, 180);
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    cursor : pointer;
}
.header_community_menu:hover{ /* on hover */
    color:white;
}
.header_community_menu:hover .community_menu{ /* on hover */
    display: block;
    color:white;
}
.community_menu_list:hover{ /* on hover */
    color:white;
}
/* sign up menu */
.sign_up_menu{
    float: right;
    padding-top: 20px;
    padding-right : 20px;
    color:rgb(180, 180, 180);
    cursor: pointer;
}
.sign_up_menu:hover{
    color:white;
}
/* log in menu */
.log_in_menu{
    float: right;
    padding-top: 20px;
    padding-right : 20px;
    color:rgb(180, 180, 180);
    cursor: pointer;
}
.log_in_menu:hover{
    color:white;
}
/*-------------------------------------------------------------------------*/
/* Main */
.main{ /* background main */
    position:relative;
    background: rgb(39,73,109);
    background: 
    linear-gradient(0deg, rgba(39,73,109,1) 0%,
    rgba(10,27,70,1) 50%,
    rgba(39,73,109,1) 100%);
    width: 100%;
    height: 3500px;
}
.sub_main{ /* real main */
    position:absolute;
    background: rgb(39,73,109);
    background: 
    linear-gradient(0deg, rgba(39,73,109,1) 0%,
    rgba(10,27,70,1) 50%,
    rgba(39,73,109,1) 100%);
    width: 1200px;
    height: 100%;
    left:50%;
    transform:translate(-50%);
}
/* main menu */
/* New or Best*/
.new_best{ /* 1 */
    position: relative;
    width : 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
}
.new_best_button{ /* 2 */
    position : relative;
    width :100px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    float: left;
}
.new_button{ /* new button */
    position : relative;
    width :100px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(76, 119, 182);
    cursor: pointer;
}
.new_button_content{ /* new button text */
    color:white;
    position : relative;
    top : 50%;
    transform: translate(0,-50%);
    text-align: center;
    font-size: 30px;
}
.best_button{ /* best button */
    bottom: 0%;
    position: absolute;
    width: 100px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(22, 33, 50);
    cursor: pointer;
}
.best_button_content{ /* best button text */
    color:white;
    position : relative;
    top : 50%;
    transform: translate(0,-50%);
    text-align: center;
    font-size: 30px;
}
.new_best_content{ /* 2 */
    position: relative;
    width :280px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    float :left;
    margin-left: 20px;
}
.best_games{ /* best games list */
    display: none;
    background-color: black;
    text-align: center;
    position:relative;
    width: 280px;
    height: 100px;
    cursor: pointer;
}
.best_games_content{ /* best games list text */
    position:relative;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    font-size:25px;
    color: white;
}
.new_games{ /* new games list */
    display: block;
    background-color: black;
    text-align: center;
    position:relative;
    width: 280px;
    height: 100px;
    cursor: pointer;
}
.new_games_content{ /* new games list text */
    position:relative;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    color:white;
    font-size:25px;
}
.new_best_photo_area{ /* 2 */
    z-index: 1;
    position : relative;
    width:580px;
    height:600px;
    margin-left: 420px;
}
.new_best_photo_1{ /* games photo area_1 */
    z-index: 2;
    position : relative;
    width:580px;
    height:290px;
    background-color: white;
}
.img_area_1{ /* games photo area_1 */
    position: absolute;
    width: 580px;
    height: 290px;
    background-color: black;
}
.new_best_photo_tag_1{ /* games photo area_1's tag */
    z-index: 4;
    position: absolute;
    width:580px;
    height:0px;
    text-align: center;
    background-color: black;
    color:white;
    font-size: 20px;
}
.new_best_photo_2{ /* games photo area_2 */
    z-index: 2;
    position : relative;
    width:580px;
    height:290px;
    background-color: white;
    margin-top: 20px;
}
.img_area_2{ /* games photo area_2 */
    position: absolute;
    width: 580px;
    height: 290px;
    background-color: black;
}
.new_best_photo_tag_2{ /* games photo area_2's tag */
    z-index: 4;
    position: absolute;
    width:580px;
    height:0px;
    text-align: center;
    background-color: black;
    color : white;
    font-size: 20px;
}
/*-------------------------------------------------------------------------*/
/* Video */
.video_area{ /* video area */
    width: 1000px;
    height: 622px;
    margin : 0 auto;
    margin-top: 40px;
}
.video_area_header{ /* video header */
    width: 1000px;
    height: 30px;
    background-color: black;
}
.video_area_main{ /* main video */
    margin : 0 auto;
}
.video_area_footer{ /* video footer */
    width: 1000px;
    height: 30px;
    background-color: black;
}
/*-------------------------------------------------------------------------*/
/* Console */
.first{ /* first area */
    width: 1000px;
    height:500px;
    background-color: white;
    margin : 0 auto;
    margin-top : 40px;
}
.first_child{ /* side bar */
    z-index: 2;
    width: 1000px;
    height:500px;
    position : relative;
    width: 100px;
    height:500px;
    float:left;
    cursor: pointer;
}
.first_child:hover{ /* on hover */
    width: 1000px;
    transition: 1s;
    transition-timing-function: ease-in-out; 
    background-color: black;
    opacity: 0.5;
}
.first_child_open{ /* '>' icon */
    position : absolute;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first_child_content{ /* side bar text */
    color:white;
    position : absolute;
    display:none;
    font-size: 33px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.first_content{ /* Slide */
    position :absolute;
    z-index: 1;
    width: 1000px;
    height:500px;
}
/*-------------------------------------------------------------------------*/
/* Online */
.second{ /* second area */
    position : relative;
    width: 1000px;
    height:500px;
    background-color: white;
    margin : 0 auto;
    margin-top : 40px;
}
.second_child{ /* side bar */
    z-index: 2;
    position : relative;
    width: 100px;
    height:500px;
    float:right;
    cursor: pointer;
}
.second_child:hover{ /* on hover */
    width: 1000px;
    transition: 1s;
    transition-timing-function: ease-in-out; 
    background-color: black;
    opacity: 0.5;
}
.second_child_open{ /* '>' icon */
    position : absolute;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.second_child_content{ /* side bar text */
    position : absolute;
    display:none;
    color: white;
    font-size: 33px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.second_content{ /* Slide */
    z-index: 1;
    position :absolute;
    z-index: 1;
    width: 1000px;
    height:500px;
}
/*-------------------------------------------------------------------------*/
/* Mobile */
.third{ /* third area */
    position : relative;
    width: 1000px;
    height:500px;
    background-color: white;
    margin : 0 auto;
    margin-top : 40px;
}
.third_child{ /* side bar */
    z-index: 2;
    position : relative;
    width: 100px;
    height:500px;
    float : left;
    cursor: pointer;
}
.third_child:hover{ /* on hover */
    width: 1000px;
    transition: 1s;
    transition-timing-function: ease-in-out; 
    background-color: black;
    opacity: 0.5;
}
.third_child_open{ /* '>' icon */
    position : absolute;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.third_child_content{ /* side bar text */
    color: white;
    position : absolute;
    display:none;
    font-size: 33px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.third_content{ /* Slide */
    z-index: 1;
    position :absolute;
    z-index: 1;
    width: 1000px;
    height:500px;
}
/*-------------------------------------------------------------------------*/
/* Slide */
.carousel-inner{
    height: 500px;
}
.carousel-item{
    height: 100%;
}
.d-block{
    height: 100%;
}
/*-------------------------------------------------------------------------*/
/* Card */
.card_area{ /* card area */
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 250px;
}
.first_card{ /* first card */
    z-index: 0;
    position: absolute;
    width: 300px;
    height: 250px;
}
.card_1{ /* cards property */
    position: absolute;
    z-index: 1;
    width: 300px;
    border : none;
}
.first_card_body{ /* card textbox property */
    z-index: 2;
    position: relative;
    height: 0px;
    background-color: rgba(0,0,0,1);
    bottom : 0%;
}
.card_body_1{ /* card textbox property */
    position: relative;
    background-color: black;
    opacity: 0.9;
    height: 40px;
}
.card_text_1{ /* text property */
    position: relative;
    top : 50%;
    transform: translate(0,-50%);
    color : white;
    text-align: center;
}
#first_card_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    opacity: 0.1;
    color: white;
    display: none;
}
.second_card{ /* second card */
    z-index: 0;
    position: absolute;
    left : 350px;
    width: 300px;
    height: 250px;
}
.card_2{ /* cards property */
    position: absolute;
    z-index: 1;
    width: 300px;
    border : none;
}
.second_card_body{ /* card textbox property */
    z-index: 2;
    position: relative;
    height: 0px;
    background-color: rgba(0,0,0,1);
    bottom : 0%;
}
.card_body_2{ /* card textbox property */
    position: relative;
    background-color: black;
    opacity: 0.9;
    height: 40px;
}
.card_text_2{ /* text property */
    position: relative;
    top : 50%;
    transform: translate(0,-50%);
    color : white;
    text-align: center;
}
#second_card_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    opacity: 0.1;
    color: white;
    display: none;
}
.third_card{ /* second card */
    z-index: 0;
    position: absolute;
    left : 700px;
    width: 300px;
    height: 250px;
}
.card_3{ /* cards property */
    position: absolute;
    z-index: 1;
    width: 300px;
    border : none;
}
.third_card_body{ /* card textbox property */
    z-index: 2;
    position: relative;
    height: 0px;
    background-color: rgba(0,0,0,1);
    bottom : 0%;
}
.card_body_3{ /* card textbox property */
    position: relative;
    background-color: black;
    opacity: 0.9;
    height: 40px;
}
.card_text_3{ /* text property */
    position: relative;
    top : 50%;
    transform: translate(0,-50%);
    color : white;
    text-align: center;
}
#third_card_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    opacity: 0.1;
    color: white;
    display: none;
}
/*-------------------------------------------------------------------------*/
/* platform */
.game_platform{
    margin-top: 40px;
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
}
.platform_text{
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    color: white;
}
/*-------------------------------------------------------------------------*/
/* footer */
.footer_line{
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background: rgb(39,73,109);
    background: 
    linear-gradient(0deg, rgba(39,73,109,1) 0%,
    rgba(10,27,70,1) 50%,
    rgba(39,73,109,1) 100%);
}
.footer{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    font-style: italic;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}